.authLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  background-image: url("/assets/backgrounds/auth-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mainLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  background-image: url("/assets/backgrounds/auth-bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;

  &Content {
    padding-top: $navbar-heigth;
  }
}
