$navbar-heigth: 5rem;

.navbar {
  width: 100vw;
  height: $navbar-heigth;
  background-color: rgba($primary-color, 1);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 1rem;
  z-index: 100;

  &-logo {
    width: 8rem;
    & .image {
      padding: 0.5rem;
      margin-top: -0.8rem;
    }
  }
  &-title {
    @extend .fs-5;
    font-weight: 800;
    margin: auto;
    text-align: center;
  }
  &-space {
    flex-grow: 1;
  }
  &-user {
    position: relative;
    min-width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &-picture {
      overflow: hidden;
      border-radius: 50%;
      width: 2.5rem;
      aspect-ratio: 1/1;
      background-color: $white;
    }
    &-icon {
      width: 1rem;
      height: 1rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/assets/icons/arrow.svg");
    }
    &-menu {
      position: absolute;
      top: 100%;
      left: 0;
      padding: 1rem 1rem;
      padding-top: 2rem;
      flex-direction: column;
      gap: 1rem;
      background-color: $primary-color;
      width: 9rem;
      display: none;

      &-item {
      }
    }

    &:hover {
      & .navbar-user-menu {
        display: flex;
      }
    }
  }
}
